canvas {border: solid 1px;}
.head, .container {width:100%; display:block;}
.head {align:center}
.container .game_board {width:60%; float:left; display:block; cursor:crosshair;}
.container .chat {border:solid 1px; display:block; width:35%; float:right; height: 90%}
.container .chat .mensagens { height: 80%; display:block; overflow:auto; width:35%;}
.button {width: 80px;}
 
