doctype html
html
  head
      title BoardGame
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js") 
      script(src="/socket.io/socket.io.js")
      script(src="/js/chat.js")
      script(src="/js/board.js")
      link(rel="stylesheet", type="text/css", href="/style/board.css")
      body
        div.head
          h1 Board Game - 
          h4 #{name}

        div.container
          div.tools
            ul
              li Map
                ul
                  li
                    input#txtColorGround(type="color", value="#ffffff")
                  li				
                    button#btnMapSend Enviar Mapa
                  li
                    button#btnClearMap Limpar
               li Players
                 ul#players
                   li 
                     button#player1 Player 1
               li Monstros
                 ul#monsters
                   li Monster1
               li Objetos
                 ul#objetos
                   li Mesa

          div.game_board
            svg#board(width="450", height="450")
              
          div.chat
            span.mensagens
            input(type='text')#txtMensagem
            button#btnSend Enviar

            hr
            .dices
                table
                   tr
                     td 
                       button#dice100(class="dice") D100 
                     td 
                       button#dice20(class="dice") D20                                                                                          
                     td 
                       button#dice12(class="dice") D12
                     td 
                       button#dice10(class="dice") D10
                   tr
                     td 
                       input#bonusDice100(type="number" max="100" min="-100" value="0") 
                     td 
                       input#bonusDice20(type="number" max="100" min="-100" value="0")
                     td 
                       input#bonusDice12(type="number" max="100" min="-100" value="0")
                     td 
                       input#bonusDice10(type="number" max="100" min="-100" value="0")
                   tr
                     td 
                       button#dice8(class="dice") D8
                     td 
                       button#dice6(class="dice") D6                                                                                          
                     td 
                       button#dice4(class="dice") D4
                     td 
                       button#dice2(class="dice") D2
                   tr
                     td 
                       input#bonusDice8(type="number" max="100" min="-100" value="0") 
                     td 
                       input#bonusDice6(type="number" max="100" min="-100" value="0")
                     td 
                       input#bonusDice4(type="number" max="100" min="-100" value="0")
                     td 
                       input#bonusDice2(type="number" max="100" min="-100" value="0")
